<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*" Name="MiniTD" Manufacturer="CodingConnected e.U."
    Language="1033" Version="1.1.0" UpgradeCode="82DD19E5-1617-4DB7-9160-034E6E916210">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

    <Feature Id="Complete" Title="MiniTD" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id='ProgramMenuDir' />
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="MiniTD.exe" SourceFile="../MiniTD/bin/Debug/MiniTD.exe" />

    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />

  </Product>

	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="INSTALLFOLDER" Name="MiniTD" >
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="MiniTD">
          <Component Id="ProgramMenuDir" Guid="BA59F463-7C47-49F6-9796-60D26E0FAA0C">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
    </Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
		  <Component Id='MainExecutable' Guid='16AAF2C9-F31D-4FED-8630-12DFD8347C59'>
		    <File Id='MiniTDEXE' Name='MiniTD.exe' Source='../MiniTD/bin/Debug/MiniTD.exe' KeyPath='yes' >
		      <Shortcut Id="startmenuMiniTD" Directory="ProgramMenuDir" Name="MiniTD"
		                WorkingDirectory='INSTALLDIR' Icon="MiniTD.exe" IconIndex="0" Advertise="yes" />
		    </File>
		    <File Id='DragDropDLL' Name='GongSolutions.Wpf.DragDrop.dll' Source='../MiniTD/bin/Debug/GongSolutions.Wpf.DragDrop.dll' KeyPath='no' />
		    <File Id='InteractionsDLL' Name='Microsoft.Expression.Interactions.dll' Source='../MiniTD/bin/Debug/Microsoft.Expression.Interactions.dll' KeyPath='no' />
		    <File Id='InteractivityDLL' Name='System.Windows.Interactivity.dll' Source='../MiniTD/bin/Debug/System.Windows.Interactivity.dll' KeyPath='no' />
		    <File Id='WpfToolkitDLL' Name='Xceed.Wpf.Toolkit.dll' Source='../MiniTD/bin/Debug/Xceed.Wpf.Toolkit.dll' KeyPath='no' />

		    <ProgId Id='MiniTD.mtd' Description='MiniTD file' Icon='MiniTDEXE'>
		      <Extension Id='mtd' ContentType='application/mtd'>
		        <Verb Id='open' Command='Open' TargetFile='MiniTDEXE' Argument='"%1"' />
		      </Extension>
		    </ProgId>

		  </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
